h1,li{
  color: black;

}
.sec1,.sec2{
  height: 100%;
  width:49%;
}

.sec1{
  float:left;
    border-right: 5px black dotted;
}
.sec2{
  float:right;

}


li{
  font-size: 25px;
}
.practice,.teach,.games,.stretches,.fitness.warm{
  height: 33%;
}
.stretches{
  margin-top: 5.5%;
}
.games{
  margin-top: 11.5%;
}
